@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Mali');

@keyframes error-valid {
  0% , 30%, 100%{transform: translateX(0);}
  10% {transform: translateX(-.5rem);}
  20% {transform: translateX(.5rem);}
}
.valid-error{
  color: red;
  font-size: .7rem;
}

.btn {

  padding: .5rem;
  border-radius: .5rem;
  background: blue;
  color: white;
  font-weight: 600;
  font-size: .8rem;
  transition: background-color .2s, color .2s;
  border: none;
  width: 100%;
  display: block;
  font-family: 'Roboto', sans-serif;


  &:hover{

    outline: none;
    background: #96b094;
    color: white;
    cursor: pointer;
  }
}
input{
  outline: none;
}
.error {
  border: solid .09rem red!important;
  animation: error-valid .5s  linear;

}
