
//variable color
$pink400: #ff99b3;
$green400: #d9f4d7;
$green300: #c0dbbe;
$blue400: #1da1f2;
$hover_blue: #1d79be;



// variable font-size

//variable background-color
$green-transparent: rgba($green400, .9);
$pink-transparent-2: rgba(red, .2);
$pink-transparent-8: rgba(red, .5);
$gray400: #afafaf;

